body {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  background-color: #F2F1F6;
}

main {
  min-height: 100px;
  flex: 2 1 80%;
}


header {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 4fr 1fr;
  background-image: url('./background.png');
}

#docinfo {
  grid-column: 1;
  grid-row: 1;
  font-size: 25px;
  font-weight: bold;
  text-align: "left";
  margin: 10px;
  color: white;
}

#actions {
  grid-row: 2;
  grid-column: 1;
  margin: 0.5em;
}

#userprofile {
  grid-column: 2;
  grid-row: 1 / span 2;
  text-align: right;
  margin: 10px;
  color: white;
}

#userimage{
  width: 50px;
  align-self: center;
}

footer {
  padding: 0.5em;
  color: white;
  background-image: url('./background.png');
}

button {
  border-radius: 1em;
  border-color: black;
  border-width: thin;
  padding: 0.5em;
  margin: 0.3em;
  color: white;
  background-color: black;
  background-color: hsla(235, 0%, 50%, 0.5);
}

button:active {
  background-color: black;
  background-color: hsla(235, 50%, 50%, 0.5);
}
